php_flag display_errors on

# Allow files and folders which are directly called
RewriteEngine On
RewriteCond %{REQUEST_FILENAME}% !-d
RewriteCond %{REQUEST_FILENAME}% !-f

# Replace v1/controller/task.php?task_id=1   with v1/tasks/1
RewriteRule ^tasks/([0-9]+)$ controller/task.php?task_id=$1 [L]

# Replace v1/controller/task.php?completed=Y   with v1/tasks/completed
# Replace v1/controller/task.php?completed=N   with v1/tasks/incompleted
RewriteRule ^tasks/complete$ controller/task.php?completed=Y [L]
RewriteRule ^tasks/incomplete$ controller/task.php?completed=N [L]

# Replace v1/controller/task.php   with v1/tasks
RewriteRule ^tasks/page/([0-9]+)$ controller/task.php?page=$1 [L]

# Replace v1/controller/task.php   with v1/tasks
RewriteRule ^tasks$ controller/task.php [L]

# Replace v1/controller/users.php   with v1/users
RewriteRule ^users$ controller/users.php [L]

# Replace v1/controller/sessions.php   with v1/sessions
RewriteRule ^sessions$ controller/sessions.php [L]
